@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital@1&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Cuprum', sans-serif;
}

html, body {
    min-height: 100%;
}

body {
    background-color: black;
    color: #8B939C;
    margin: 0 auto;
    max-width: 90%;
}

main {
    flex:1
}

.mainheader {
    flex-direction: column;
    display: flex;
    min-height: 100vh;
}

.footer {
    color:#8B939C
} 

.my-name {
    color:white
}

.project-card {
    width: 300px;
    height: 400px;
    background-color: white;
    margin-bottom: 20px;
}

.project-card:hover {
    box-shadow: 10px 25px 50px -12px #8B939C;
}
.project-card svg {
    border-radius: 10px;
}

.project-info {
    margin-top: 20px;
}

.project-info p {
    margin-bottom: 20px;
    padding: 0px 10px;
    color: #8B939C;
}

.project-image-container {
    overflow:hidden;

}
