@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital@1&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Cuprum', sans-serif;
}

html, body {
    min-height: 100%;
}

body {
    background-color: black;
    color: #8B939C;
    margin: 0 auto;
    max-width: 90%;
}

.footer {
    color:#8B939C
} 

.my-name {
    color:white

}

.image-container {
    width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}